<!DOCTYPE html>
<html>
	<head>
		<!-- 页面meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>传智健康</title>
		<meta name="description" content="传智健康">
		<meta name="keywords" content="传智健康">
		<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="../plugins/elementui/index.css">
		<link rel="stylesheet" href="../css/style.css">
		<!-- <link rel="stylesheet" href="../css/orderset.css">
		<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css"> -->
		<!-- 引入组件库 -->
		<script src="../js/vue.js"></script>
		<script src="../plugins/elementui/index.js"></script>
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script src="../js/axios-0.18.0.js"></script>
		<style>
			.el-dropdown-link {
				cursor: pointer;
				color: #409EFF;
			}
			.el-icon-arrow-down {
				font-size: 12px;
			}
		</style
	</head>
	<body class="hold-transition">
		<div id="app">

			<div class="content-header">
				<h1>回款统计<small>回款流程</small></h1>
				<el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
					<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
					<el-breadcrumb-item>回款统计</el-breadcrumb-item>
					<el-breadcrumb-item>回款流程</el-breadcrumb-item>
				</el-breadcrumb>
			</div>
			<div class="app-container">
				<div class="box">
					<!-- <h3><small>代垫明细</small></h3> -->
					<el-card class="box-card">
						<el-row type="flex" class="row-bg">
							<!--分公司-->

							<el-col :span="8">

								<div class="grid-content bg-purple">
									&ensp;&ensp;&ensp;&ensp;分&ensp;&ensp;&ensp;&ensp;公&ensp;&ensp;&ensp;&ensp;司&ensp;
									<el-select v-model="rebackBranch" multiple placeholder="请选择" size="small">
										<el-option v-for="item in rebackBranchlist" :key="item" :label="item" :value="item"></el-option>
									</el-select>
								</div>
							</el-col>

							<!--区域-->

							<el-col :span="8">
								<div class="grid-content bg-purple-light">
									&ensp;&ensp;&ensp;&ensp;区&ensp;&ensp;&ensp;&ensp;域&ensp;
									<el-select v-model="rebackArea" multiple placeholder="请选择" size="small" @focus="getarea()">
										<el-option v-for="item in rebackArealist" :key="item" :label="item" :value="item"></el-option>
									</el-select>
								</div>
							</el-col>




						</el-row></br>
						<!--运营商-->
						<el-row type="flex" class="row-bg">
							<el-col :span="8">
								<div class="grid-content bg-purple">
									&ensp;&ensp;&ensp;&ensp;运&ensp;&ensp;&ensp;&ensp;营&ensp;&ensp;&ensp;&ensp;商&ensp;
									<el-select v-model="rebackCustomer" multiple placeholder="请选择" size="small">
										<el-option v-for="item in rebackCustomerlist" :key="item" :label="item" :value="item"></el-option>
									</el-select>
								</div>
							</el-col>



							<!--是否回款-->

							<el-col :span="8">
								&ensp;&ensp;&ensp;&ensp;是否回款&ensp;
								<el-select v-model="rebacked" size="small" clearable placeholder="请选择">
									<el-option key="是" label="是" value="是"></el-option>
									<el-option key="否" label="否" value="否"></el-option>
								</el-select>
							</el-col>

						</el-row><br />


						<el-row type="flex" class="row-bg" align="middle">




							<!--是否上传扫描件-->

							<el-col :span="8">
								&ensp;&ensp;&ensp;&ensp;是否上传扫描件&ensp;
								<el-select v-model="rebackScanned" size="small" clearable placeholder="请选择">
									<el-option key="是" label="是" value="是"></el-option>
									<el-option key="否" label="否" value="否"></el-option>
								</el-select>
							</el-col>
							<!--回款编号-->
							<el-col :span="3">&ensp;&ensp;&ensp;&ensp;回款编号&ensp;</el-col>
							<el-col :span="7">

								<div class="grid-content bg-purple">

									<el-input type="text" v-model="rebackNumber" size="small"></el-input>

								</div>
							</el-col>


						</el-row><br />
						<el-row type="flex" class="row-bg">

							<!--账期-->
							<el-col :span="9">
								&ensp;&ensp;&ensp;&ensp;账&ensp;&ensp;&ensp;&ensp;期&ensp;
								<el-date-picker v-model="rebackPaymentdate" type="daterange" range-separator="至" start-placeholder="开始日期"
								 end-placeholder="结束日期" value-format="yyyyMM" size="small">
								</el-date-picker>
							</el-col>

							<!--回款日期-->
							<el-col :span="9">
								回款日期&ensp;
								<el-date-picker v-model="rebackReceivableDate" type="daterange" range-separator="至" start-placeholder="开始日期"
								 end-placeholder="结束日期" value-format="yyyy-MM" size="small">
								</el-date-picker>
							</el-col>
						</el-row>
						<br />

						<el-row>
							<el-col :span="6" :offset="6">
								<div class="grid-content bg-purple">
									<el-button @click="rebackquery()">查询</el-button>
									<el-button @click="rebackexport()">导出</el-button>

								</div>
							</el-col>
						</el-row>

					</el-card>
					<el-card class="box-card">
						<el-table border :data="dataList" style="width: 100%" size='small' current-row-key="id">

							<el-table-column prop="fengongsi" label="分公司" min-width="45"> </el-table-column>
							<el-table-column prop="quyu" label="区域"  min-width="45"> </el-table-column>
							<el-table-column prop="zhangqi" label="账期"  min-width="65"> </el-table-column>
							<el-table-column prop="yunyingshang" label="运营商" min-width="45"> </el-table-column>
							<el-table-column prop="iscpy" label="结算模式" min-width="45"> </el-table-column>
							<el-table-column prop="huikuanbianhao" label="回款编号" width="200">

							</el-table-column>
							<el-table-column prop="jiesuanjine" label="结算金额" min-width="81"> </el-table-column>
							<el-table-column prop="issaomiao" label="扫描件" min-width="35"> </el-table-column>
							<el-table-column prop="ishuikuan" label="是否回款" min-width="35"> </el-table-column>
							<el-table-column prop="huikuanriqi" label="回款时间" min-width="78"> </el-table-column>
							<el-table-column prop="scanoperation" label="编辑扫描件" width="218">
								<template slot-scope="scope" >
									<el-button type="primary" size="mini" @click="rebackScannedUpdate(scope.row)">上传</el-button>
									<el-button type="success" size="mini" @click="rebackScannedDownload(scope.row)">下载</el-button>
									<el-button type="danger" size="mini" @click="rebackScannedDelete(scope.row)">删除</el-button>


								</template>
							</el-table-column>
							<el-table-column prop="scanoperation" label="回款明细操作"   min-width="91">
								<template slot-scope="scope" >

									<el-button type="warning" size="mini" icon="el-icon-star-off" circle @click="handleDownload(scope.row)"></el-button>
									<el-button type="danger" size="mini" icon="el-icon-delete" circle @click="handleDelete(scope.row)"></el-button>
								</template>
							</el-table-column>
						</el-table>
						<div class="pagination-container">
							<el-pagination
									class="pagiantion"
									@current-change="handleCurrentChange"
									:current-page="currentPage"
									:page-size="pageSize"
									layout="total, prev, pager, next, jumper"
									:total="total">
							</el-pagination>
						</div>

						<!--<div class="add-form">
							<el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit" width="30%">
								<el-upload action="/cpy/upload" name="excelFile" :show-file-list="false"
										   :on-success="handleSuccess" :on-progress="handleUploading" :before-upload="beforeUpload">
									<el-button type="primary">上传文件</el-button>
								</el-upload>
							</el-dialog>
						</div>-->
					</el-card>
				</div>
			</div>
		</div>
	</body>

	<script>
		var fengjie = ["奉节", "云阳", "巫山", "巫溪"];
		var fuling = ["涪陵", "长寿", "垫江", "南川", "武隆", "丰都"];
		var hechuan = ["合川", "北碚", "铜梁", "潼南"];
		var liangjiang = ["两江", "江北", "渝北"];
		var nanan = ["南岸", "巴南", "綦江", "江津"];
		var qianjiang = ["黔江", "秀山", "酉阳", "彭水"];
		var wanzhou = ["万州", "开州", "梁平", "城口", "忠县", "石柱"];
		var yongchuan = ["永川", "大足", "璧山", "荣昌"];
		var yuzhong = ["渝中", "沙坪坝", "九龙坡", "大渡口"];
		var rebackBranchmap = new Map();
		rebackBranchmap.set("奉节", fengjie);
		rebackBranchmap.set("涪陵", fuling);
		rebackBranchmap.set("合川", hechuan);
		rebackBranchmap.set("两江", liangjiang);
		rebackBranchmap.set("南岸", nanan);
		rebackBranchmap.set("黔江", qianjiang);
		rebackBranchmap.set("万州", wanzhou);
		rebackBranchmap.set("永川", yongchuan);
		rebackBranchmap.set("渝中", yuzhong);
	</script>
	<script>


		new Vue({
			el: '#app',
			data: {
				group: '',
				rebackBranchlist: [],
				rebackArealist: [],
				rebackCustomerlist: ["移动", "联通", "电信"],

				currentPage: 1,//当前页码
				pageSize:10,//每页显示的记录数
				total:0,//总记录数

				rebackBranch: [],
				rebackArea: [],
				rebackCustomer: [],
				rebacked:"",
				rebackScanned:"",
				rebackNumber:"",

				rebackPaymentdate: [],
				rebackReceivableDate:[],
				fullscreenLoading: false,

				dataList: [],


				dialogFormVisible4Edit:true
			},
			created: function() { //在vue初始化时调用
				/*axios.get("/user/getGroup").then((response) => {
					this.group = response.data.data;
				})*/
				this.group = "重庆";
				if (this.group == "重庆") {
					this.rebackBranchlist = ["奉节", "涪陵", "合川", "两江", "南岸", "黔江", "万州", "永川", "渝中"];
				} else {
					this.rebackBranchlist = [this.group];
				}
			},

			methods: {
				findPage() {
					var params={
						"currentPage":this.currentPage,
						"pageSize":this.pageSize,
						"rebackBranch":this.rebackBranch,
						"rebackArea":this.rebackArea,
						"rebackCustomer":this.rebackCustomer,
						"rebacked":this.rebacked,
						"rebackScanned":this.rebackScanned,
						"rebackNumber":this.rebackNumber,
						"rebackStartPaymentDate": this.rebackPaymentdate[0],
						"rebackEndPaymentDate": this.rebackPaymentdate[1],

						"rebackStartReceivableDate": this.rebackReceivableDate[0],
						"rebackEndReceivableDate": this.rebackReceivableDate[1],

					};
					axios.post("/reback/findPage",params).then((response)=>{
						this.dataList = response.data.rows;
						this.total = response.data.total;
					});
				},
				//切换页码
				handleCurrentChange(currentPage) {
					this.currentPage = currentPage;
					this.findPage();
				},
				getarea() {
					this.rebackArea = [];
					this.rebackArealist = [];
					//console.log(this.rebackBranch);
					rebackBranchselectlist = this.rebackBranch
					for (var i = 0; i < rebackBranchselectlist.length; i++) {
						var mycars = rebackBranchmap.get(rebackBranchselectlist[i]).toString().split(',');
						for (j = 0; j < mycars.length; j++) {
							this.rebackArealist.push(mycars[j]);
						}
					}
				},
				rebackquery() {
					console.log("rebackquery");
					this.currentPage=1;
					this.findPage();

				},
				rebackexport(){
					alert("rebackexport");
					var querydata = {
						"rebackBranch":this.rebackBranch,
						"rebackArea":this.rebackArea,
						"rebackCustomer":this.rebackCustomer,
						"rebacked":this.rebacked,
						"rebackScanned":this.rebackScanned,
						"rebackNumber":this.rebackNumber,
						"rebackStartPaymentDate": this.rebackPaymentdate[0],
						"rebackEndPaymentDate": this.rebackPaymentdate[1],

						"rebackStartReceivableDate": this.rebackReceivableDate[0],
						"rebackEndReceivableDate": this.rebackReceivableDate[1],
					};
					axios.post("/reback/export", querydata,{responseType: 'blob'}).then(function(response) {
						var blob = new Blob([response.data])
						var downloadElement = document.createElement('a');
						var href = window.URL.createObjectURL(blob); //创建下载的链接
						downloadElement.href = href;
						downloadElement.download = '回款流程明细.xlsx'; //下载后文件名
						document.body.appendChild(downloadElement);
						downloadElement.click(); //点击下载
						document.body.removeChild(downloadElement); //下载完成移除元素
						window.URL.revokeObjectURL(href); //释放掉blob对象

						console.log(response);
						loading.close();
						console.log("  loading.close()");
					}).catch(function(error) {
								console.log(error);
					});

				},
				rebackScannedUpdate(row){


				}

			}
		})
	</script>
</html>
